/* Estilos para efecto de las cartas */
.card {
    width: 380px;
    height: 230px;
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background: rgb(204, 204, 204);
    font-size: 18px;
    font-weight: 500;
    color: rgb(31, 31, 31);
    z-index: 2;
    border-radius: 15px;
    display: inline-block;
    margin: 30px;
    text-align: center;
}

.card::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
            #488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb
        );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

.card:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.card,
.card::after {
    box-sizing: border-box;
}

.card:active {
    --border-width: 5px;
}

/* Estilos para palindromos */
#contenedor {
    width: 900px;
    margin-left: 30%;
    margin-top: 4%;
}

#contenedorPali {
    margin: auto;
    background-color: cornflowerblue;
    width: 600px;
    /* margin-left: 30%; */
    margin-top: 4%;
    padding: 20px;
    border-radius: 15px;
}

#result {
    width: 600px;
    height: 60px;
    margin: auto;
    margin-top: 30px;
    background-color: cornflowerblue;
    text-align: center;
    display: table;
    border-radius: 15px;
}

#result h3 {
    display: table-cell;
    vertical-align: middle;
}

.card-text {
    font-family: Impact, fantasy;
    font-size: 30px;
    margin-top: 60px;
}

/* Estilos para palabras agudas */
#grid {
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 80%;
    background-color: white;
}

.grid-item {
    background-color: cornflowerblue;
    padding: 10%;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.grid-bien {
    background-color: rgb(32, 196, 81);
    padding: 10%;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.grid-mal {
    background-color: rgb(224, 75, 37);
    padding: 10%;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #e8e8e8;
   --button_outline_color: #000000;
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }

  div.bott{
    padding-top: 19px;
    padding-left: 20px;
  }